[submodule "qed_nginx"]
	path = qed_nginx
	url = https://github.com/quanted/qed_nginx.git
[submodule "templates_qed"]
	path = templates_qed
	url = https://github.com/quanted/templates_qed.git
[submodule "static_qed"]
	path = static_qed
	url = https://github.com/quanted/static_qed.git
[submodule "flask_qed"]
	path = flask_qed
	url = https://github.com/quanted/flask_qed.git
[submodule "cts_nodejs"]
	path = cts_nodejs
	url = https://github.com/quanted/cts_nodejs.git
[submodule "cts_celery"]
	path = cts_celery
	url = https://github.com/quanted/cts_celery.git
[submodule "hms"]
	path = hms
	url = https://github.com/quanted/hms.git
[submodule "qed_django"]
	path = qed_django
	url = https://github.com/quanted/qed_django.git
	branch = dev
